<!-- <footer class="row py-4 mt-auto text-light">
    <div class="col"> Footer content here... </div>
    <div class="text-secondary bottom-0 ">
        <hr class="text-white" style="opacity: 0.5;">
        <p>All rights reserved</p>
        <p>Created by...</p>
    </div>
</footer> -->

<!-- <div class="container"> -->
    <!-- <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer> -->
  <!-- </div> -->
  <style>
    #footer {
        color: #8d8d8d;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #212529;
        text-align: center;
    }

    #footer span {
        display: block;
    }

    #footer hr {
        margin: 0;
    }

    @media screen and (max-width: 700px) {
        #footer {
            position: fixed;
        }
    }
  </style>
  <div id="footer">
        <hr>
        <span class="footerLeft" >All rights reserved</span>
        <span id="footerRight" >Created by...</span>
  </div>