<div class="mainContent">
    <img src="assets/gallery/art/sample_img_1.jpg" class="img-fluid" alt="...">
    <img src="assets/gallery/art/sample_img_2.jpg" class="img-fluid" alt="...">
    <img src="assets/gallery/art/sample_img_3.jpg" class="img-fluid" alt="...">
    <img src="assets/gallery/art/sample_img_4.jpg" class="img-fluid" alt="...">
    <img src="assets/gallery/art/sample_img_1.jpg" class="img-fluid" alt="...">
    <img src="assets/gallery/art/sample_img_2.jpg" class="img-fluid" alt="...">
    <img src="assets/gallery/art/sample_img_3.jpg" class="img-fluid" alt="...">
    <img src="assets/gallery/art/sample_img_4.jpg" class="img-fluid" alt="...">
    <img src="assets/gallery/art/sample_img_1.jpg" class="img-fluid" alt="...">
    <img src="assets/gallery/art/sample_img_2.jpg" class="img-fluid" alt="...">
    <img src="assets/gallery/art/sample_img_3.jpg" class="img-fluid" alt="...">
    <img src="assets/gallery/art/sample_img_4.jpg" class="img-fluid" alt="...">
</div>