<app-header></app-header>
<router-outlet></router-outlet>

<!-- <div class="container">
    <div class="row">
        <div class="col"> -->
            <!-- <app-header></app-header> -->
        <!-- </div>
        <div class="col"> -->
            <!-- <div class="content">
                <router-outlet></router-outlet>
            </div> -->
        <!-- </div>
    </div>
</div> -->
<!-- <div class="container">
    <div class="row">
      <div class="col-md-12"> -->
        <!-- <router-outlet></router-outlet> -->
      <!-- </div>
    </div>
  </div> -->
<!-- <app-gallery></app-gallery> -->

<!-- <div style="position: absolute; width: 100%; height: 100%; border: 1px solid red; color: white;">
    <div class="row" style="height: 100%;">
        <div class="col-4"  style="height: 100%; max-width: 240px;">
            <app-header style="border: 1px solid white;"></app-header>
        </div>
        <div class="col-8" style="height: 100%;">
            <app-gallery style="border: 1px solid green"></app-gallery>
        </div>
    </div>
    <div class="row" style="width: 100%; bottom: 0; position: absolute;">
        <app-footer style="border: 1px solid green"></app-footer>
    </div>
</div> -->